<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="form_area">
                <p class="title">SIGN IN</p>
                <div action="">
                    <div class="form_group">
                        <label class="sub_title" for="email">User</label>
                        <input placeholder="Enter your username" id="user" class="form_style" type="text" [(ngModel)]="Usuario.Usuario">
                    </div>
                    <div class="form_group">
                        <label class="sub_title" for="password">Password</label>
                        <input placeholder="Enter your password" id="password" class="form_style" type="password" [(ngModel)]="Usuario.Password">
                    </div>
                    <div>
                        <button class="btn" (click)="LogIn()">LOG IN</button>
                        <p>Didn't have an Account? <a class="link" href="SingUp">SingUp Here!</a></p><a class="link" href="SingUp">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>